<!DOCTYPE html>
</html>
    <head>
        <title>Contoh CRUD Node.js-MySQL</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/customers">Customers</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
    </ul>
        <div id="wrapper">
            <div class="page-header"><h2><%=page_title%></h2></div>
            <div class="page-container">
