<!DOCTYPE html>
<html lang="en">
  <head>
     <% include customers/head1.ejs %>
  </head>
  <body>

 
  <% include customers/header1.ejs %>
    <div id="hero-image">
       <h1 id="hero-title">Selamat datang di menu admin!</h1>
    </div>

    
   

    <% include customers/footer1.ejs %>
    <% include customers/scripts1.ejs %>
  </body>
</html>



