<html>
    <head>
        
        <title><%=(locals.title) ? title :''%></title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    
    </head>
    <body>
     

    <!-- <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/customers">Customers</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
    </ul> -->

    <div id="wrapper">
        <div class="page-header"><h2 align="center">Selamat Datang di Pembelajaran Coba-Coba NodeJS Express</h2></div>
        <div class="page-container">
    </div>
    <p align="center"> Form Login</p>
    <table align="center">
        <tr>
            <td class="label">Username</td><td>: <input type="text" name="nama" required></td>
        </tr>
        <tr>
            <td class="label">Pasword</td><td>: <input type="text" name="nama" required></td>
        </tr>
        <tr>
            <td> <input type="submit" name="submit" value="LOGIN"></td>
        </tr>
    </table>


    </body>

</html>
