<!DOCTYPE html>
<html lang="en">
  <head>
     
  </head>
  <body>

 <h1>hahahahahahah</h1>
  

    <div id="hero-image">
       <h1 id="hero-title">tes aja</h1>
    </div>

    

   
  </body>
</html>